.marto15 {
    padding-left: 10px;
}

#maxHeight {
    max-height: 100px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}